<!-- wp:template-part {"slug":"header","tagName":"header","className":"l-header "} /-->

<!-- wp:group {"tagName":"article","layout":{"inherit":true}} -->
<article class="wp-block-group"><!-- wp:heading {"level":1,"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
<h1 class="l-constrain l-constrain--small" id="uh-oh-page-not-found">Uh-Oh...Page not found!</h1>
<!-- /wp:heading -->

<!-- wp:heading {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
<h2 class="l-constrain l-constrain--small" id="return-to-homepage"><a href="/">Return to Homepage</a></h2>
<!-- /wp:heading --></article>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->

<!-- wp:paragraph {"className":"l-constrain l-constrain\u002d\u002dsmall"} -->
<p class="l-constrain l-constrain--small"></p>
<!-- /wp:paragraph -->